 $color-primary:#003364;
 $color-mid-blue:#496a86;
 $color-light-blue:rgb(132, 200, 250);
 $color-secondary:#ff5000;
 $color-purple:#662f8e;
 $color-green:#008065;
 $color-charcoal:#545454;
 $color-preschool:rgb(235, 150, 51);

 $transition--standard:.3s cubic-bezier(0.4, 0, 0.2, 1);
 