.debug {
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	background-color: red;
	z-index: 2;
	padding: 5px;
}
.the-event {
	& > * {
		position: relative;
	}
	display: grid;
	justify-content: space-between;
	justify-items: stretch;
	align-items: start;
	column-gap: 20px;
	max-width: 1200px;
	width: 88%;
	margin: 0 auto;
	grid-template-columns: 2fr 1fr;
	@include respond(Laptop) {
		grid-template-columns: max(100%);
	}

	&__image {
		grid-column: 1 / 2;
		grid-row: 1 / 4;
		margin: 0;
		margin-bottom: 2em;
		@include respond(Laptop) {
			grid-column: unset;
			grid-row: 1 / 2;
		}
	}
	&__meta {
		grid-column: 2 / 3;
		grid-row: 2 / 3;

		background-color: #f7f7f7;
		height: fit-content;
		@include displayFlex(row, space-evenly);
		@include respond(Laptop) {
			grid-column: unset;
			grid-row: 3 / 4;
		}
	}
	&__title {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
		margin: 0;
		@include respond(Laptop) {
			grid-column: unset;
			grid-row: 2 / 3;
		}
	}
	&__tags {
		grid-column: 2 / 3;
		grid-row: 4 / 5;
		@include respond(Laptop) {
			grid-column: unset;
			grid-row: 7 / 8;
		}
	}
	&__content {
		grid-column: 1 / 2;
		@include respond(Laptop) {
			grid-column: unset;
			grid-row: 4 / 5;
		}
	}
	&__related-events {
		grid-column: 1 / 2;
		@include respond(Laptop) {
			grid-column: unset;
			grid-row: 8 / 9;
		}
	}

	&__sidebar {
		@include displayFlex(column);
		grid-column: 2 / 3;
		grid-row: 3 / 4;
		padding: 1em;
		@include respond(Laptop) {
			grid-column: unset;
			grid-row: 6 / 7;
		}
		&-header {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			height: fit-content;
			h2 {
				margin: 0;
			}
			@include respond(Laptop) {
				grid-column: unset;
				grid-row: 5 / 6;
			}
		}
	}
}
