@use "../abstracts/variables";

.the-event__sidebar {
	&__header {
		margin: 0;
		margin-bottom: 1em;
	}
	// SOCIAL
	.mec-social-single.mec-frontbox-title {
		margin: 0;
		// margin-bottom: 1em;
	}
	.mec-links-details ul {
		list-style: none;
		display: flex;
		margin: 0;
		justify-content: space-evenly;

		.mec-event-social-icon {
			font-size: 2.5em;
			margin: 0 5px;
		}
	}
	// CALENDAR
	.mec-event-export-module.mec-frontbox {
		.mec-export-details ul {
			list-style: none;
			display: flex;
			justify-content: space-evenly;
			margin: 0;

			.mec-events-gcal {
				display: inline-block;

				&.mec-color.mec-bg-color-hover.mec-border-color {
					border-color: variables.$color-secondary;
					background-color: white;
					color: variables.$color-secondary;
					padding: 1em;

					&:hover {
						color: white;
						background-color: variables.$color-secondary;
					}
				}
			}
		}
	}
}
