@use '../abstracts/mixins';

.the-event-meta {
	background-color: #f7f7f7;
	height: fit-content;
	@include mixins.displayFlex(row, space-around);
	padding: 1rem;
	.mec-single-event {
		&-date {
			@include mixins.displayFlex(column, center, flex-start);
			margin: 0;
			padding: 0;
			& dl {
				margin: 0;
				dd {
					margin: 0;
				}
			}
		}
		&-time {
			@extend .mec-single-event-date;
		}
	}

	&__tags {
		@include mixins.displayFlex(row, flex-start, center);
		background-color: #f7f7f7;
		width: 100%;
		padding: 1em;
		gap: 1rem;
		h4 {
			margin: 0;
		}

		&-list {
			@include mixins.displayFlex(row, space-evenly, center);
			flex: 1 0 auto;
			margin: 0;
			list-style: none;
			@include mixins.respond(Laptop) {
				justify-content: flex-start;
				flex-direction: column;
			}
			& li {
				flex: 1 1 auto;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
