@use '../abstracts/variables';
@use '../abstracts/mixins';

.the-event__sidebar {
	&__header {
		margin: 0;
		margin-bottom: 1em;
	}
	// SOCIAL
	.mec-social-single.mec-frontbox-title {
		margin: 0;
	}
	.mec-links-details ul {
		@include mixins.displayFlex(row, space-evenly);
		list-style: none;
		margin: 0;
		.mec-event-social-icon {
			font-size: 2.5em;
			margin: 0 5px;
		}
	}
	// CALENDAR
	.mec-event-export-module.mec-frontbox {
		.mec-export-details ul {
			@include mixins.displayFlex(row, space-evenly, flex-start, nowrap);
			list-style: none;
			margin: 0;

			.mec-events-gcal {
				display: inline-block;

				&.mec-color.mec-bg-color-hover.mec-border-color {
					border-color: variables.$color-secondary;
					background-color: white;
					color: variables.$color-secondary;
					padding: 1em;

					&:hover {
						color: white;
						background-color: variables.$color-secondary;
					}
				}
			}
		}
	}
}
